


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	
} 

.back-col {
	background-color: #131a2d;
}

.text-col {
	color: #D0C4AB;
}

body {
	font-family: 'Lato', sans-serif;
	color: #676858;
	font-weight: 300;
}

.margin {
	margin-top: 20px;
}

.header {
	background-color: #778088;
	text-align: center;
}

.empty {
	
}

.row-fluid {
	word-wrap: break-word;
}

hr {
	height: 5px;
	background-color: #D0C4AB;
	color: #d0c4ab;
	border: 0;
}

h1 {
	font-weight: 100;
}